:root {
  /* Couleurs dominantes, d'après https://www.hostinger.fr/tutoriels/palette-couleur-site-web#19_Bleu_royal_fonce_et_or */

  /* --main-color: #002349; */
  /* --main-color-dark: #001731; */
  /* --main-color-light: #89baee; */
  --main-color: black;
  --main-color-dark: black;
  --main-color-light: #c7c7c7;
  --main-color-red: #ff1617;

  --error: red;

  --main-color-actiform: #ff1617;
  --main-color-appartement-rentable: #11b6cc;
  --main-color-custhomebike: #f28f12;
  --main-color-fatabien: #ef082e;
  --main-color-immocashflow: #26ae90;
  --main-color-lmh: #e6c619;
  --main-color-macip-courtage: #c59a56;
  /* #213357; */
  --main-color-montsetlacs: #1b7888;
  --main-color-msr34: rgb(255, 0, 56);
  --main-color-pcf-lcf: #e55d48;

  /*   --main-color-accent: #957C3D;
  --main-color-accent2: #b28e3b; */
  /*   --main-color-accent-light: #e4cb8c;
  --main-color-accent-light-transparent: rgba(228, 203, 140, 0.7); */
  --main-color-accent: #dfca54;
  --main-color-accent2: #e6c619;
  --main-color-accent-light: rgb(255, 215, 0);
  --main-color-accent-light-transparent: rgba(255, 215, 0, 0.7);

  /*ancienne (lcf) --main-color: #e55d48;*/

  --main-color-blue: #007bff;

  --main-color-black: #1e3333;
  --main-color-white: #fff;
  --main-color-blue: #1b7888;
  --main-color-green: green;
  --main-color-orange: #e55d48;
  --main-color-orange-light: #eba49a;
  --main-color-yellow: #fbcc4a;

  --main-color-orange-dark: #d34630;

  --main-color-light-gray: rgb(202, 202, 202);

  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
