* {
  box-sizing: border-box;
  font-family: 'arial';
  line-height: 125%;
  /* ,'product sans'; */
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

main>div{
  min-height: 30vh;
}

#logo{
	max-width: 90vw; 
	margin: 0 auto;
}

footer{
	margin-top: 3rem;
}