#contact-horaires-div h1 {
  margin: 1rem auto;
  text-align: center;
}

#contact-horaires p,
#contact-coordonnees p,
#contact-map p {
  background-color: #c7c7c76b;
  padding: 1rem;
  margin: 2rem auto;
  width: 500px;
  max-width: 96%;
  border: 1px solid black;
  box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  border-radius: 7px;
}

.contact-boxes {
  width: 98%;
  max-width: 98%;
  padding: 1rem;
  margin: 0 1rem;
  text-align: center;
}

.contact-boxes h2 {
  font-size: 2rem;
  color: var(--main-color-dark);
  text-decoration: underline;
  text-decoration-color: var(--main-color-red);
  -moz-text-decoration-color: var(--main-color-red);
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
  margin-bottom: 2.5rem;
}

#facebook-iframe {
  max-width: 96%;
}

#linkedin-widget,
#github-widget {
  width: 705px;
  max-width: 95%;
  border: 1px solid black;
}

#googlemap {
  width: 90vw;
  height: 45vw;
  max-width: 1000px;
  max-height: 500px;
  margin: 0 auto;
}

.display-on-little-screen {
  display: none;
}

@media screen and (max-width: 560px) {
  #contact-horaires p,
  #contact-coordonnees p,
  #contact-map p {
    padding: 1rem;
    margin: 2rem auto;
    max-width: 96%;
  }
}

@media screen and (max-width: 560px) {
  #contact-horaires p,
  #contact-coordonnees p,
  #contact-map p {
    padding: 0.5rem;
    margin: 2rem auto;
  }

  .display-on-little-screen {
    display: block;
  }

  .hide-on-little-screen {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .contact-boxes h2 {
    font-size: 1.5rem;
  }
}
