footer {
  background-color: var(--main-color-dark);
  color: var(--main-color-white);
  font-size: 0.8rem!important;

  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  min-height: 150px;

}

footer a {
  color: var(--main-color-white);
}

footer a:hover {
  color: var(--main-color-red);
  text-decoration: underline;
  text-underline-offset: 3px;
}

footer div p {
  margin-bottom: 0;
  padding: 0 1.2rem;
}

footer div p:nth-child(1) {
  border-bottom: 1px solid #bbb;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

footer div:nth-child(1) {
  flex-direction: row;
}

footer div:nth-child(3){
  flex-direction: column;
}

/* PARTENAIRES */

#footer-partenaires {
  display: flex;
  flex-direction: row;
}

#footer-partenaires div {
  width: 32%;
  max-width: 100px;
  column-gap: 1rem;
}

#footer-partenaires div img {
  /* max-height: 50px; */
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: contain;
}


/* MENTIONS LEGALES */

#mentions-legales-div {
  text-align: left;
  padding: 20px;
  margin: 0 0 150px 0;
}

#mentions-legales-div ul {
  padding-left: 3rem;
  margin-bottom: 1rem;
}

#mentions-legales-div li {
  list-style: disc;
}

#mentions-legales-div h1, 
#mentions-legales-div h2 {
  margin: 1rem auto;
  text-align: center;
}


@media screen and (max-width: 732px) {
  footer div:nth-child(1) {
    flex: 2;
  }
  footer div:nth-child(2) {
    flex: 1;
  }
  footer div:nth-child(3) {
    flex: 2;
  }

  footer div:nth-child(3) p:first-child {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }


  #footer-partenaires {
    flex-direction: column;
    row-gap: 1rem;
  }

  #footer-partenaires div {
    width: 95%;
  }
}

@media screen and (max-width: 560px) {
  footer {
    flex-direction: column;
    row-gap: 2rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
  }
  
  footer div {
    flex: 1;
  }

  footer div p {
    padding: 0 0.2rem;
  }

  #footer-partenaires div {
    max-width: 180px;
  }

}
