#mes-technos-div h1,
#mes-technos-div h2 {
  margin: 1rem auto;
  text-align: center;
}

#main-technologies {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 2rem;
}

#main-technologies > div {
  /* flex: 1; */
  width: 30%;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  margin: auto;
  min-height: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#main-technologies img {
  width: 320px;
  max-width: 90%;
}

/* #arec-img {
  max-width: 230px;
} */

@media screen and (max-width: 732px) {
  #main-technologies > div {
    /* flex: 1; */
    width: 45%;
  }
}

@media screen and (max-width: 560px) {
  #main-technologies {
    flex-direction: column;
  }

  #main-technologies > div {
    /* flex: 1; */
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  #mes-technos-div h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  #main-technologies > div {
    min-height: unset;
  }
}
